@model SistemaVenda.Models.UsuarioViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
<head>
    <link rel="stylesheet" href="~/css/LoginIndex.css" />
</head>

<!-- Login Form -->
<div class="wrapper fadeInDown" id="SignInModal">
    <div id="formContent">
        <div class="fadeIn first" />
        <img src="~/img/logo.png" id="icone" alt="Logo" />
    </div>

    <form asp-controller="Login" asp-action="ValidaLogin" method="post">
        <input type="email" asp-for="Email" class="fadeIn second" placeholder="E-mail" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <input type="password" asp-for="Senha" value="@Model.Senha" class="fadeIn third" placeholder="Senha" />
        <span asp-validation-for="Senha" class="text-danger"></span>

        <input type="submit" class="fadeIn fourth" value="Log In">
        @* Apresenta o ViewData definido na controller *@
        <span class="text-danger">@ViewData["ErroLogin"]</span>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        @*<a class="underlineHover" href="#">Esqueci minha senha! |</a>*@
        <a class="underlineHover" href="#" onclick="ChangeModal()">Cadastre-se!</a>
    </div>
</div>
</div>

<!-- SignUp Form -->
<div class="wrapper fadeInDown" id="SignUpModal" tabindex="-1" style="display: none;">
    <div id="formContent">

        <div class="close-container" onclick="ChangeModal()">
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </div>
        <div class="fadeIn first">
            <img src="~/img/logo.png" id="icone" alt="Logo" />
        </div>

        <div class="modal-body">
            <form asp-controller="Login" asp-action="Index" method="post">
                <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />
                <div class="form-group fadeIn first">
                    <input type="text" asp-for="Nome" value="@Model.Nome" placeholder="Nome" required id="nomeCadastro" />
                    <span id="spanNome" class="text-danger"></span>
                </div>
                <div class="form-group fadeIn second">
                    <input type="email" asp-for="Email" value="@Model.Email" placeholder="E-mail" required id="emailCadastro" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group fadeIn third">
                    <input type="password" asp-for="Senha" value="@Model.Senha" placeholder="Senha" required />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <input type="submit" class="fadeIn fourth" value="Cadastrar">
            </form>
        </div>
    </div>
</div>


@* Modal de menu de info *@
<div class="iconContainer">
    <div class="fadeIn first rounded" onmouseover="ActiveModal('assinatura')">
        <img src="~/img/assinatura.png" alt="Assinatura de Lucas Maiorini" id="assinatura" />
    </div>
    <div class="fadeIn first rounded" onmouseover="ActiveModal('stack')">
        <img src="~/img/stack2.png" alt="Stack utilizada" />
    </div>
    <div class="fadeIn first rounded" onmouseover="ActiveModal('info')">
        <img src="~/img/info.png" alt="Como o sistema funciona" />
    </div>
</div>


@* Imagem vetor *@
<div class="modal">
    <svg viewBox="0 0 349.5 232" height="232" width="349.5" xml:space="preserve" id="svg2">
<g transform="matrix(1.3333333,0,0,-1.3333333,0,232)" id="g10">
<g transform="translate(250.125,173.5)" id="g20">
<path id="path22" style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 0,0 h -221 c -6.627,0 -12.5,-4.873 -12.5,-11.5 v -95.915 l 0.188,-0.036 -16.938,-16.283 16.922,-16.284 -0.172,-0.008 V -161.5 c 0,-6.627 5.873,-12.5 12.5,-12.5 H 0 c 6.627,0 11.5,5.873 11.5,12.5 v 150 C 11.5,-4.873 6.627,0 0,0" /> </g> </g>

    </svg>
    <a class="close-modal" onclick="Deactive()">
        <svg viewBox="0 0 20 20">
            <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
        </svg>
    </a><!-- close modal -->
</div>

<div class="modal-overlay" onclick="DeactiveModal(); Deactive();"></div>
<div class="wrapperTip">
    <div class="tip">
        <p>
            Para testes:
            <br><b>E-mail:</b> teste@teste.com
            <br><b>Senha:</b> 123
        </p>
    </div>
</div>

<script>

    var modalOverlay = document.getElementsByClassName("modal-overlay")[0];
    var modal = document.getElementsByClassName("modal")[0];

    function ActiveModal(fonte) {
        DeactiveModal();
        modalOverlay.style.display = "inline";
        modal.style.display = "inline";
        modalOverlay.classList.add('active');
        modal.classList.add('active');
        if (fonte == "assinatura") {

            var p = document.createElement("p");
            var img1 = document.createElement("img");
            var img2 = document.createElement("img");
            var a1 = document.createElement("a");
            var a2 = document.createElement("a");

            p.innerHTML = "Desenvolvido por <b>Lucas Maiorini</b>";
            p.classList.add("modalText");
            a1.classList.add("aModal");
            a1.setAttribute("href", "https://github.com/LucasMaiorini");
            a1.setAttribute("target", "_blank");
            a2.classList.add("aModal");
            a2.setAttribute("href", "https://www.linkedin.com/in/lucasvingomes/");
            a2.setAttribute("target", "_blank");
            img1.setAttribute("src", "/img/github.png");
            img1.classList.add("imgModal");
            img2.setAttribute("src", "/img/linkedin.png");
            img2.classList.add("imgModal");

            modal.appendChild(p);
            a1.appendChild(img1)
            a2.appendChild(img2)
            modal.appendChild(a1);
            modal.appendChild(a2);
        } else if (fonte == "stack") {
            var p = document.createElement("p");
            p.id = "modalStackParagraph";
            p.innerHTML = "<b>Stack:</b><br>Asp.Net<br>Entity Framework<br>JavaScript<br>Bootstrap<br>SQL Server<br>" +
                "<b>Hospedagem:</b><br>Azure<br><b>Arquitetura:</b><br>DDD ";
            p.classList.add("modalText");

            modal.appendChild(p);
        }
        else if (fonte == "info") {
            var p = document.createElement("p");
            p.classList.add("modalText");
            p.id = "modalInfoParagraph";
            p.innerHTML = "A aplicação foi desenvolvida para aplicar conceitos aprendidos em cursos em uma " +
                "situação que simule um problema real.<br>" +
                "É possível realizar um CRUD em clientes, produtos e vendas, bem como analisar, através de um gráfico, quais produtos " +
                "são mais vendidos.";
            modal.appendChild(p);
        }
    }

    function DeactiveModal() {

        var paragraphToDelete = document.getElementsByClassName("modalText")[0];
        var aToDelete = document.getElementsByClassName("aModal")[0];
        var aToDelete2 = document.getElementsByClassName("aModal")[1];

        if (paragraphToDelete != null) {
            modal.removeChild(paragraphToDelete);
            if (aToDelete != null) {
                modal.removeChild(aToDelete);
                if (aToDelete2 != null) {
                    modal.removeChild(aToDelete2);
                }
            }
        }
    }

    function Deactive() {
        modalOverlay.style.display = "none";
        modal.style.display = "none";
        modalOverlay.classList.remove('active');
        modal.classList.remove('active');
    }


    function ChangeModal() {
        if (document.getElementById("SignUpModal").style.display == "none") {
            document.getElementById("SignUpModal").style.display = "flex";
            document.getElementById("SignInModal").style.display = "none";
        } else {
            document.getElementById("SignUpModal").style.display = "none";
            document.getElementById("SignInModal").style.display = "flex";
        };
    }
</script>
